# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
logs/*.log

# Environment Variables
.env

# Coverage directory used by testing tools
coverage/

# Build/production directories
dist/
build/

# IDEs and OS-specific files
.DS_Store
.vscode/
.idea/

# Python (ML-microservice)
ML-microservice/env/
ML-microservice/venv/
ML-microservice/.venv/
ML-microservice/*.pyc
ML-microservice/__pycache__/
ML-microservice/*.pkl

# Python virtual environment and cache
ML-microservice/*.log
ML-microservice/.pytest_cache/
ML-microservice/.mypy_cache/

# Exclude large data files (optional, depending on your project)
ML-microservice/data/
